.page {
    display: flex;
    align-items: flex-start;
    /*justify-content: space-between; espace entre menu vertical et body*/
}
.vertical-menu {
    border: 1px solid black;
}
.body {
    height: 100%;
    border: 1px solid red;
}

