/*************************Entête*******************/
body {
    background-color: #c2d2db;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    max-width: 100%;
}

.head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.login {
    background-color: #ff8f8f;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-top: none;
    font-size: 30px;
}

.menu {
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
    border-radius: 30px;
}

.menu-text {
    font-size: 20px;
}

.menu > li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px 60px;
}

li a:hover {
    background-color: #c2d2db;
} 

li > * > p {
    font-size: 17px;
}

p {
    color: black;
}

.jebaited {
    color: black;
    text-decoration: none;
    cursor: text;
}

td {
    text-overflow: hidden;
}

.redirection-right {
    float: right;
    margin-right: 0;
}

.redirection-left {
    float: right;
    margin-left: 0;
}

/**********************STYLE COMMUNS A STOCK ET PRET ********************/
.stock, .pret {
    margin-top: 1%;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
}

.stock-action{
    width: 20%;
}

.stock-list{
    width: 80%;
    margin-left: 2%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 2px solid black; 
}

.stock-form, .pret-form {
    color: black;
    list-style-type: none;
    padding: 0px;
}

.stock-action > form, .pret-action > form {
    border: 2px solid black;
    border-radius: 20px;
}

.stock-form > li, .pret-form > li {
    margin-top: 1em;
}

button[name="submit-reference"], button[name="submit-materiel"], 
button[name="submit-marque"], button[name="submit-etat"], 
button[name="submit-note"], button[name="submit-start"],
button[name="submit-end"], button[name="submit-client"], 
button[name="submit-date"], button[name="submit-action"],
button[name="submit-message"], button[name="submit-nb"] {
    width: 100%;
}

table tr:hover:not(:first-child) {
    background-color: gray;
}

tr > .button {
    width: 3%;
}

/******************************STYLE UNIQUE STOCK************************/
.stock-table > td:not(:first-child):not(:last-child):not(:nth-child(8)) {
    border-left: 2px solid black;
    
}

.stock-table > .mat, .stock-table > .etat{
    width: 15%;
}

.stock-table > .marque, .stock-table > .ref {
    width: 10%;
}

.stock-table > .nb {
    width: 5%;
}

.stock-menu {
    margin-top: none;
    margin-left: none;
    list-style-type: none;
    border-radius: 20px;
    background-color: #2f81af;
}

.modif-stock {
    display: table;
}

.modif-stock label {
    margin-left: 20px;
}

/*********************************STYLE UNIQUE PRET***********************************/
.pret-table > .ref, .pret-table > .mat, .pret-table > .marque, .pret-table > .start,
.pret-table > .end {
    width: 10%;
}

.pret-table > .note {
    width: 20%;
}

.pret-table > td:not(:first-child):not(:last-child) {
    border-left: 2px solid black;
}

select, input:not(input[name="etat"]):not(input[name="ref-edit"]):not(input[name="mat-edit"]):not(input[name="marque-edit"])
:not(input[name="etat-edit"]):not(input[name="note-edit"]){
    width: 90%;
}

.pret-action {
    width: 15%;
}

.pret-liste {
    width: 85%;
    margin-left: 2%;
    border-radius: 20px;
}
/******************************STYLE UNIQUE HISTORIQUE*******************************/
.historique {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.historique-table > .date, .historique-table > .ref {
    width: 10%;
}

.historique-table > .action {
    width: 20%;
}

.historique-table > td {
    border-left: 2px solid black;
}

/*********************************STYLE UNIQUE ALERTE********************************/
.alerte:hover {
    background-color: gray;
}

/**************************************FOOTER****************************************/
.footer {
    width: 96%;
    height: 80px;
    background-color: gray;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.footer > h3 {
    margin-top: 0.5em;
    margin-left: 2%;
    font-weight:normal;
}





