/*************************Entête*******************/
body {
    background-color: #c2d2db;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
/*  */
.menu {
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
}

.menu-text {
    font-size: 20px;
}

.menu > li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px 60px;
}

li a:hover {
    background-color: #c2d2db;
} 

li > * > p {
    font-size: 17px;
}

p {
    color: black;
}

/*************************Stock********************/
.stock {
    margin-top: 1%;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
}

.stock-action {
    width: 25%;
    margin-left: 2%;

}

.stock-list {
    width: 75%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:not(:first-child):not(:last-child):not(:nth-child(7)) {
    border-left: 2px solid black;
}

tr {
    border: 2px solid black; 
}

.ref, .mat, .marque, .etat{
    width: 15%;
}

.stock-menu {
    margin-top: none;
    margin-left: none;
    list-style-type: none;
    border-radius: 20px;
    background-color: #2f81af;
}

.stock-form {
    color: black;
    list-style-type: none;
}

.stock-action > form {
    border: 2px solid black;
}

.stock-form > li {
    margin-top: 1em;
}

tr > .button {
    width: 3%;
}

table tr:hover:not(:first-child) {
    background-color: gray;
}

button[name="submit-reference"], button[name="submit-materiel"], 
button[name="submit-marque"], button[name="submit-etat"], button[name="submit-note"] {
    width: 100%;
}

/**********************PRET************************/


